
<div class="panel panel-primary" style="margin-left: 10%;margin-right: 10%;margin-top: 2%;margin-bottom: 5%;">

  <div class="panel-heading">
   

    <div class="checkbox" style="display:inline">
      <!-- <h1 class="panel-title" style="margin-right:50%;"> <span> Création d'un compte </span> </h1> -->
      <span class="panel-title"> Création d'un compte </span>
      <label style="margin-left:30%;">       
          <input  type="checkbox" [checked]="show"
          (change)="show = !show" style="float:inherit;"/>Entreprise
      </label>
   </div>  
  </div>


  <form #f="ngForm" (ngSubmit)="onUpload(f)" novalidate>
  <div class="panel-body">

    <div class="row">

          <div class="col-lg-4">
            <label> <b>Nom</b> </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-info"></i>
              </div>
              <input type="text" name="nom" ngModel class="form-control" value='' required=true>
            </div>
          </div>
          <div class="col-lg-4">
            <label> <b>Prénom</b> </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-info"></i>
              </div>
              <input type="text" name="prenom" ngModel class="form-control" value='' required=true>
            </div>
          </div>
      
          <div class="col-lg-4">
            <label> <b>Email</b> </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-envelope-o"></i>
              </div>
              <input type="text" name="email" ngModel class="form-control" value='' required=true>
            </div>
          </div>


    </div>


    <br>


    <div class="row">

      <div class="col-lg-3">
        <label> <b>Numéro Téléphone</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-phone-square"></i>
          </div>          
          <input type="number" name="num" ngModel class="form-control" value='' required=true>
        </div>
      </div>
      <div class="col-lg-3">
        <label> <b>Date Naissance</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar-check-o"></i>
          </div>
           <!-- <input type="text" name="nom" ngModel class="form-control" value='' required=true>  -->
           <!-- <input type="datetime-local" id="birthdaytime" name="birthdaytime"> -->
           <input type="date" name="ddn" ngModel class="form-control" value='' required=true>
        </div>
      </div>
  
      <div class="col-lg-3">
        <label> <b>Gouvernorat</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-map-marker"></i>
          </div>
          <select class="form-control select2" style="width: 100%;" type="text" name="governorat" [(ngModel)]='gouv'   (change)='onOptionsSelected()'>
            <option style="display:none" value="">Séléctionner le gouvernorat </option>
            <option  value="1" > Ariana</option>
            <option  value="2" > Béja</option>
            <option  value="3" > Ben Arous</option>
            <option  value="4" > Bizerte</option>
            <option  value="5" > Gabès</option>
            <option  value="6" > Gafsa</option>
            <option  value="7" > Jendouba</option>
            <option  value="8" > Kairouan</option>
            <option  value="9" > Kasserine</option>
            <option  value="10" > Kébili</option>
            <option  value="11" > Le Kef</option>
            <option  value="12" > Mahdia</option>
            <option  value="13" > La Manouba</option>
            <option  value="14" > Médenine</option>
            <option  value="15" > Monastir</option>
            <option  value="16" > Nabeul</option>
            <option  value="17" > Sfax</option>
            <option  value="18" > Sidi Bouzid</option>
            <option  value="19" > Siliana</option>
            <option  value="20" > Sousse</option>
            <option  value="21" > Tataouine</option>
            <option  value="22" > Tozeur</option>
            <option  value="23" > Tunis</option>
            <option  value="24" > Zaghouan</option>
          </select>
        </div>
      </div>

      <div class="col-lg-3">
        <label> <b>Ville</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-location-arrow"></i>
          </div>
          <select class="form-control select2" style="width: 100%;" type="text" name="delegation" ngModel>
            <option style="display:none" value="">Séléctionner le ville </option>
            <!-- <div *ngIf="gouv == 1"> -->
              <option value="1" *ngIf="gouv == 1" class="11">RAOUED</option>
            <option value="1" *ngIf="gouv == 1" class="12"> SIDI THABET</option>
            <option value="1" *ngIf="gouv == 1" class="13">ARIANA VILLE</option>
            <option value="1" *ngIf="gouv == 1" class="14">LA SOUKRA</option>
            <option value="1" *ngIf="gouv == 1" class="14">KALAAT LANDLOUS</option>
            <option value="1" *ngIf="gouv == 1" class="15">ETTADHAMEN</option>
            <option value="1" *ngIf="gouv == 1" class="16">MNIHLA</option>

            <!-- </div> -->
            
              <option value="2" *ngIf="gouv == 2" class="21">BEJA NORD</option>
              <option value="2" *ngIf="gouv == 2" class="22">NEFZA</option>
              <option value="2" *ngIf="gouv == 2" class="23">GOUBELLAT</option>
              <option value="2" *ngIf="gouv == 2" class="24">MEJEZ EL BAB</option>
              <option value="2" *ngIf="gouv == 2" class="25">AMDOUN</option>
              <option value="2" *ngIf="gouv == 2" class="26">TEBOURSOUK</option>
              <option value="2" *ngIf="gouv == 2" class="27">TESTOUR</option>
              <option value="2" *ngIf="gouv == 2" class="28">THIBAR</option>
              <option value="2" *ngIf="gouv == 2" class="29">BEJA SUD</option>
               <option value="3"*ngIf="gouv == 3"  class="31">EZZAHRA</option>
              <option value="3" *ngIf="gouv == 3"  class="32">MOHAMADIA</option>
              <option value="3" *ngIf="gouv == 3"  class="33">RADES</option>
              <option value="3" *ngIf="gouv == 3"  class="34">EL MOUROUJ</option>
              <option value="3" *ngIf="gouv == 3"  class="35">FOUCHANA</option>
              <option value="3" *ngIf="gouv == 3"  class="36">HAMMAM CHATT</option>
              <option value="3" *ngIf="gouv == 3"  class="37">HAMMAM LIF</option>
              <option value="3" *ngIf="gouv == 3"  class="38">MEGRINE</option>
              <option value="3" *ngIf="gouv == 3"  class="39">NOUVELLE MEDINA</option>
              <option value="3" *ngIf="gouv == 3"  class="310">MORNAG</option>
              <option value="3" *ngIf="gouv == 3"  class="311">BOU MHEL EL BASSATINE</option>
              <option value="3" *ngIf="gouv == 3"  class="312">BEN AROUS</option>
              

              <option value="4" *ngIf="gouv == 4"  class="41">MENZEL BOURGUIBA</option>
              <option value="4" *ngIf="gouv == 4"  class="42">UTIQUE</option>
              <option value="4" *ngIf="gouv == 4"  class="43">MENZEL JEMIL</option>
              <option value="4" *ngIf="gouv == 4"  class="44">BIZERTE NORD</option>
              <option value="4" *ngIf="gouv == 4"  class="45">BIZERTE SUD</option>
              <option value="4" *ngIf="gouv == 4"  class="46">EL ALIA</option>
              <option value="4" *ngIf="gouv == 4"  class="47">SEJNANE</option>
              <option value="4" *ngIf="gouv == 4"  class="48">GHAR EL MELH</option>
              <option value="4" *ngIf="gouv == 4"  class="49">GHEZALA</option>
              <option value="4" *ngIf="gouv == 4"  class="410">JARZOUNA</option>
              <option value="4" *ngIf="gouv == 4"  class="411">JOUMINE</option>
              <option value="4" *ngIf="gouv == 4"  class="412">MATEUR</option>
              <option value="4" *ngIf="gouv == 4"  class="413">RAS JEBEL</option>
              <option value="4" *ngIf="gouv == 4"  class="414">TINJA</option>


              <option value="5" *ngIf="gouv == 5" class="51">EL METOUIA</option>
              <option value="5" *ngIf="gouv == 5"  class="52">GABES MEDINA</option>
              <option value="5" *ngIf="gouv == 5"  class="53">GABES OUEST</option>
              <option value="5" *ngIf="gouv == 5" class="54">GABES SUD</option>
              <option value="5" *ngIf="gouv == 5" class="55">EL HAMMA</option>
              <option value="5" *ngIf="gouv == 5" class="56">NOUVELLE MATMATA</option>
              <option value="5" *ngIf="gouv == 5" class="57">MARETH</option>
              <option value="5" *ngIf="gouv == 5" class="58">GHANNOUCHE</option>
              <option value="5" *ngIf="gouv == 5" class="59">MATMATA</option>
              <option value="5" *ngIf="gouv == 5" class="510">MENZEL HABIB</option>
              

              <option value="6" *ngIf="gouv == 6" class="61" >BELKHIR</option>
              <option value="6" *ngIf="gouv == 6" class="62">EL GUETTAR</option>
              <option value="6" *ngIf="gouv == 6" class="63">EL KSAR</option>
              <option value="6" *ngIf="gouv == 6" class="64">EL MDHILLA</option>
              <option value="6" *ngIf="gouv == 6" class="65">SNED</option>
              <option value="6" *ngIf="gouv == 6" class="66">MOULARES</option>
              <option value="6" *ngIf="gouv == 6" class="67">REDEYEF</option>
              <option value="6" *ngIf="gouv == 6" class="68">SIDI AICH</option>
              <option value="6" *ngIf="gouv == 6" class="69">GAFSA SUD</option>
              <option value="6" *ngIf="gouv == 6" class="610">METLAOUI</option>
              <option value="6" *ngIf="gouv == 6" class="611">GAFSA NORD</option>
 

               <option value="7" *ngIf="gouv == 7"  class="71">FERNANA</option>
              <option value="7"  *ngIf="gouv == 7" class="72">GHARDIMAOU</option>
              <option value="7"  *ngIf="gouv == 7" class="73">TABARKA</option>
              <option value="7"  *ngIf="gouv == 7" class="74">JENDOUBA</option>
              <option value="7"  *ngIf="gouv == 7" class="75">JENDOUBA NORD</option>
              <option value="7"  *ngIf="gouv == 7" class="76">AIN DRAHAM</option>
              <option value="7"  *ngIf="gouv == 7" class="77">OUED MLIZ</option>
              <option value="7"  *ngIf="gouv == 7" class="78">BOU SALEM</option>
              <option value="7"  *ngIf="gouv == 7" class="79">BALTA BOU AOUENE</option>
              *ngIf="gouv == 8"

                <option value="8" *ngIf="gouv == 8" class="81">SBIKHA</option>
                <option value="8" *ngIf="gouv == 8" class="82">KAIROUAN SUD</option>
                <option value="8" *ngIf="gouv == 8" class="83">OUESLATIA</option>
                <option value="8" *ngIf="gouv == 8" class="84">NASRALLAH</option>
                <option value="8" *ngIf="gouv == 8" class="85">KAIROUAN NORD</option>
                <option value="8" *ngIf="gouv == 8" class="86">EL ALA</option>
                <option value="8" *ngIf="gouv == 8" class="87">HAJEB EL AYOUN</option>
                <option value="8" *ngIf="gouv == 8" class="88">CHEBIKA</option>
                <option value="8" *ngIf="gouv == 8" class="89">HAFFOUZ</option>
                <option value="8" *ngIf="gouv == 8" class="810">CHERARDA</option>
                <option value="8" *ngIf="gouv == 8" class="811">BOU HAJLA</option>

                  <option value="9" *ngIf="gouv == 9" class="91">HAIDRA</option>
                  <option value="9"*ngIf="gouv == 8"  class="92">SBEITLA</option>
                  <option value="9" *ngIf="gouv == 8" class="93">MEJEL BEL ABBES</option>
                  <option value="9" *ngIf="gouv == 8" class="94">KASSERINE NORD</option>
                  <option value="9"  *ngIf="gouv == 8" class="95">EL AYOUN</option>
                  <option value="9" *ngIf="gouv == 8" class="96">EZZOUHOUR</option>
                  <option value="9" *ngIf="gouv == 8" class="97">FERIANA</option>
                  <option value="9" *ngIf="gouv == 8" class="98">FOUSSANA</option>
                  <option value="9" *ngIf="gouv == 8" class="99">HASSI EL FRID</option>
                  <option value="9" *ngIf="gouv == 8" class="910">JEDILIANE</option>
                  <option value="9" *ngIf="gouv == 8" class="911">KASSERINE SUD</option>
                  <option value="9" *ngIf="gouv == 8" class="912">SBIBA</option>
                  <option value="9" *ngIf="gouv == 8" class="913">THALA</option>


                  <option value="10" *ngIf="gouv == 10" class="101">SOUK EL AHAD</option>
                  <option value="10" *ngIf="gouv == 10" class="102">KEBILI SUD</option>
                  <option value="10" *ngIf="gouv == 10"class="103">KEBILI NORD</option>
                  <option value="10" *ngIf="gouv == 10"class="103">DOUZ</option>
                  <option value="10" *ngIf="gouv == 10"class="104">EL FAOUAR</option>


                  <option value="11" *ngIf="gouv == 11"class="111">TAJEROUINE</option>
                  <option value="11" *ngIf="gouv == 11" class="112">TOUIREF</option>
                  <option value="11" *ngIf="gouv == 11" class="113">NEBEUR</option>
                  <option value="11" *ngIf="gouv == 11" class="114">SAKIET SIDI YOUSSEF</option>
                  <option value="11" *ngIf="gouv == 11" class="115">LE SERS</option>
                  <option value="11" *ngIf="gouv == 11" class="116">EL KSOUR</option>
                  <option value="11" *ngIf="gouv == 11" class="117">LE KEF EST</option>
                  <option value="11" *ngIf="gouv == 11" class="118">DAHMANI</option>
                  <option value="11" *ngIf="gouv == 11" class="119">KALAAT SINANE</option>
                  <option value="11" *ngIf="gouv == 11" class="1110">JERISSA</option>
                  <option value="11" *ngIf="gouv == 11" class="1111">KALAA EL KHASBA</option>
                  <option value="11" *ngIf="gouv == 11" class="1112">LE KEF OUEST</option>


                   <option value="12"*ngIf="gouv == 12"  class="121"> MELLOULECH</option>
                  <option value="12"*ngIf="gouv == 12"  class="122">SIDI ALOUENE</option>
                  <option value="12" *ngIf="gouv == 12" class="123">MAHDIA</option>
                  <option value="12" *ngIf="gouv == 12" class="124">SOUASSI</option>
                  <option value="12" *ngIf="gouv == 12" class="125">OULED CHAMAKH</option>
                  <option value="12" *ngIf="gouv == 12" class="126">BOU MERDES</option>
                  <option value="12" *ngIf="gouv == 12" class="127">CHORBANE</option>
                  <option value="12" *ngIf="gouv == 12" class="128">KSOUR ESSAF</option>
                  <option value="12" *ngIf="gouv == 12" class="129">HBIRA</option>
                  <option value="12" *ngIf="gouv == 12" class="1210">LA CHEBBA</option>
                  <option value="12"*ngIf="gouv == 12"  class="1211">EL JEM</option>

                   <option value="13" *ngIf="gouv == 13" class="131">BORJ EL AMRI</option>
                  <option value="13" *ngIf="gouv == 13"class="132">JEDAIDA</option>
                  <option value="13" *ngIf="gouv == 13"class="133">OUED ELLIL</option>
                  <option value="13" *ngIf="gouv == 13"class="134" >TEBOURBA</option>
                  <option value="13" *ngIf="gouv == 13"class="135">EL BATTAN</option>
                  <option value="13" *ngIf="gouv == 13"class="136">MANNOUBA</option>
                  <option value="13" *ngIf="gouv == 13"class="137">MORNAGUIA</option>
                  <option value="13" *ngIf="gouv == 13"class="138">DOUAR HICHER</option>


                   <option value="14" *ngIf="gouv == 14"class="141">HOUMET ESSOUK</option>
                    <option value="14" *ngIf="gouv == 14"class="142">MEDENINE SUD</option>
                    <option value="14" *ngIf="gouv == 14"class="143">BENI KHEDACHE</option>
                    <option value="14" *ngIf="gouv == 14"class="144">SIDI MAKHLOUF</option>
                    <option value="14" *ngIf="gouv == 14"class="145">MIDOUN</option>
                    <option value="14" *ngIf="gouv == 14"class="146">ZARZIS</option>
                    <option value="14" *ngIf="gouv == 14"class="147">MEDENINE NORD</option>
                    <option value="14" *ngIf="gouv == 14"class="148">BEN GUERDANE</option>
                    <option value="14" *ngIf="gouv == 14"class="149">AJIM</option>


                    <option value="15"*ngIf="gouv == 15" class="151">SAYADA LAMTA BOU HAJAR</option>
                    <option value="15" *ngIf="gouv == 15" class="152">KSIBET EL MEDIOUNI</option>
                    <option value="15" *ngIf="gouv == 15" class="153">KSAR HELAL</option>
                    <option value="15" *ngIf="gouv == 15" class="154">JEMMAL</option>
                    <option value="15" *ngIf="gouv == 15" class="155">SAHLINE</option>
                    <option value="15" *ngIf="gouv == 15" class="156">MONASTIR</option>
                    <option value="15" *ngIf="gouv == 15" class="157">MOKNINE</option>
                    <option value="15" *ngIf="gouv == 15" class="158">OUERDANINE</option>
                    <option value="15" *ngIf="gouv == 15" class="159">TEBOULBA</option>
                    <option value="15" *ngIf="gouv == 15" class="1510">ZERAMDINE</option>
                    <option value="15" *ngIf="gouv == 15" class="1511">BEKALTA</option>
                    <option value="15" *ngIf="gouv == 15" class="1512">BEMBLA</option>
                    <option value="15" *ngIf="gouv == 15" class="1513">BENI HASSEN</option>

                    <option value="16" *ngIf="gouv == 16" class="161">KORBA</option>
                    <option value="16" *ngIf="gouv == 16"  class="162">SOLIMAN</option>
                    <option value="16" *ngIf="gouv == 16"  class="163">TAKELSA</option>
                    <option value="16" *ngIf="gouv == 16"  class="164">MENZEL BOUZELFA</option>
                    <option value="16" *ngIf="gouv == 16"  class="165">MENZEL TEMIME</option>
                    <option value="16" *ngIf="gouv == 16"  class="166">NABEUL</option>
                    <option value="16" *ngIf="gouv == 16"  class="167">BENI KHIAR</option>
                    <option value="16" *ngIf="gouv == 16"  class="168">BENI KHALLED</option>
                    <option value="16" *ngIf="gouv == 16"  class="169">HAMMAMET</option>
                    <option value="16" *ngIf="gouv == 16"  class="1610">EL HAOUARIA</option>
                    <option value="16" *ngIf="gouv == 16"  class="1611">KELIBIA</option>
                    <option value="16" *ngIf="gouv == 16"  class="1612">GROMBALIA</option>
                    <option value="16" *ngIf="gouv == 16"  class="1613">EL MIDA</option>
                    <option value="16" *ngIf="gouv == 16"  class="1614">BOU ARGOUB</option>
                    <option value="16" *ngIf="gouv == 16"  class="1615">DAR CHAABANE ELFEHRI</option>
                    <option value="16" *ngIf="gouv == 16"  class="1616">HAMMAM EL GHEZAZ</option>


                    <option value="17" *ngIf="gouv == 17">EL HENCHA</option>
                    <option value="17" *ngIf="gouv == 17">ESSKHIRA</option>
                    <option value="17" *ngIf="gouv == 17">GHRAIBA</option>
                    <option value="17" *ngIf="gouv == 17">EL AMRA</option>
                    <option value="17" *ngIf="gouv == 17">BIR ALI BEN KHELIFA</option>
                    <option value="17" *ngIf="gouv == 17">AGAREB</option>
                    <option value="17" *ngIf="gouv == 17">SFAX VILLE</option>
                    <option value="17" *ngIf="gouv == 17">SAKIET EDDAIER</option>
                    <option value="17" *ngIf="gouv == 17">MAHRAS</option>
                    <option value="17" *ngIf="gouv == 17">MENZEL CHAKER</option>
                    <option value="17" *ngIf="gouv == 17">SFAX EST</option>
                    <option value="17" *ngIf="gouv == 17">SFAX SUD</option>
                    <option value="17" *ngIf="gouv == 17">JEBENIANA</option>
                    <option value="17" *ngIf="gouv == 17">KERKENAH</option>
                    <option value="17" *ngIf="gouv == 17">SAKIET EZZIT</option>


                     <option value="18" *ngIf="gouv == 18">BEN OUN</option>
                    <option value="18" *ngIf="gouv == 18">BIR EL HAFFEY</option>
                    <option value="18" *ngIf="gouv == 18">JILMA</option>
                    <option value="18" *ngIf="gouv == 18">CEBBALA</option>
                    <option value="18" *ngIf="gouv == 18">OULED HAFFOUZ</option>
                    <option value="18" *ngIf="gouv == 18">MEZZOUNA</option>
                    <option value="18" *ngIf="gouv == 18">REGUEB</option>
                    <option value="18" *ngIf="gouv == 18">SIDI BOUZID OUEST</option>
                    <option value="18" *ngIf="gouv == 18">SOUK JEDID</option>
                    <option value="18" *ngIf="gouv == 18">SIDI BOUZID EST</option>
                    <option value="18" *ngIf="gouv == 18">MAKNASSY</option>
                    <option value="18" *ngIf="gouv == 18">MENZEL BOUZAIENE</option>

                    <option value="19" *ngIf="gouv == 19">SILIANA SUD</option>
                    <option value="19" *ngIf="gouv == 19" >SIDI BOU ROUIS</option>
                    <option value="19" *ngIf="gouv == 19" >SILIANA NORD</option>
                    <option value="19" *ngIf="gouv == 19" >GAAFOUR</option>
                    <option value="19" *ngIf="gouv == 19" >KESRA</option>
                    <option value="19" *ngIf="gouv == 19" >LE KRIB</option>
                    <option value="19" *ngIf="gouv == 19" >BOU ARADA</option>
                    <option value="19" *ngIf="gouv == 19" >BARGOU</option>
                    <option value="19" *ngIf="gouv == 19" >MAKTHAR</option>
                    <option value="19" *ngIf="gouv == 19" >ROHIA</option>
                    <option value="19" *ngIf="gouv == 19" >EL AROUSSA</option>

                    <option value="20" *ngIf="gouv == 20">SIDI BOU ALI</option>
                    <option value="20" *ngIf="gouv == 20">SIDI EL HENI</option>
                    <option value="20" *ngIf="gouv == 20">SOUSSE JAOUHARA</option>
                    <option value="20" *ngIf="gouv == 20">SOUSSE RIADH</option>
                    <option value="20" *ngIf="gouv == 20">SOUSSE VILLE</option>
                    <option value="20" *ngIf="gouv == 20">BOU FICHA</option>
                    <option value="20" *ngIf="gouv == 20">AKOUDA</option>
                    <option value="20" *ngIf="gouv == 20">HAMMAM SOUSSE</option>
                    <option value="20" *ngIf="gouv == 20">KALAA ESSGHIRA</option>
                    <option value="20" *ngIf="gouv == 20">KONDAR</option>
                    <option value="20" *ngIf="gouv == 20">MSAKEN</option>
                    <option value="20" *ngIf="gouv == 20">ENFIDHA</option>
                    <option value="20" *ngIf="gouv == 20">HERGLA</option>
                    <option value="20" *ngIf="gouv == 20">KALAA EL KEBIRA</option>
                    <option value="20" *ngIf="gouv == 20">SOUSSE</option>


                     <option value="21" *ngIf="gouv == 21">TATAOUINE SUD</option>
                      <option value="21" *ngIf="gouv == 21">BIR LAHMAR</option>
                      <option value="21" *ngIf="gouv == 21">DHEHIBA</option>
                      <option value="21" *ngIf="gouv == 21">GHOMRASSEN</option>
                      <option value="21" *ngIf="gouv == 21">TATAOUINE NORD</option>
                      <option value="21" *ngIf="gouv == 21">REMADA</option>
                      <option value="21" *ngIf="gouv == 21">SMAR</option>
 

                    <option value="22" *ngIf="gouv == 22">DEGUECHE</option>
                    <option value="22" *ngIf="gouv == 22">TOZEUR</option>
                    <option value="22" *ngIf="gouv == 22">HEZOUA</option>
                    <option value="22" *ngIf="gouv == 22">NEFTA</option>
                    <option value="22" *ngIf="gouv == 22">TAMEGHZA</option>


                    <option value="23" *ngIf="gouv == 23">EL MENZAH</option>
                    <option value="23" *ngIf="gouv == 23">EL HRAIRIA</option>
                    <option value="23" *ngIf="gouv == 23">EL KABBARIA</option>
                    <option value="23" *ngIf="gouv == 23">EL KRAM</option>
                    <option value="23" *ngIf="gouv == 23">BAB SOUIKA</option>
                    <option value="23" *ngIf="gouv == 23">CARTHAGE</option>
                    <option value="23" *ngIf="gouv == 23">CITE EL KHADRA</option>
                    <option value="23" *ngIf="gouv == 23">BAB BHAR</option>
                    <option value="23" *ngIf="gouv == 23">LA MARSA</option>
                    <option value="23" *ngIf="gouv == 23">EZZOUHOUR</option>
                    <option value="23" *ngIf="gouv == 23">JEBEL JELLOUD</option>
                    <option value="23" *ngIf="gouv == 23">SIDI EL BECHIR</option>
                    <option value="23" *ngIf="gouv == 23">LA GOULETTE</option>
                    <option value="23" *ngIf="gouv == 23">LE BARDO</option>
                    <option value="23" *ngIf="gouv == 23">EL OMRANE</option>
                    <option value="23" *ngIf="gouv == 23">EL OMRANE SUPERIEUR</option>
                    <option value="23" *ngIf="gouv == 23">EL OUERDIA</option>
                    <option value="23" *ngIf="gouv == 23">ETTAHRIR</option>
                    <option value="23" *ngIf="gouv == 23">SIDI HASSINE</option>
                    <option value="23" *ngIf="gouv == 23">ESSIJOUMI</option>
                    <option value="23" *ngIf="gouv == 23" >LA MEDINA</option>

                    <option value="24" *ngIf="gouv == 24">ENNADHOUR</option>
                    <option value="24" *ngIf="gouv == 24">EL FAHS</option>
                    <option value="24" *ngIf="gouv == 24">BIR MCHERGA</option>
                    <option value="24" *ngIf="gouv == 24">ZAGHOUAN</option>
                    <option value="24" *ngIf="gouv == 24">HAMMAM ZRIBA</option>
                    <option value="24" *ngIf="gouv == 24">SAOUEF</option>
          </select>
        </div>
      </div>


</div>



    <br>


    <div class="row">

      <div class="col-lg-6">
        <label> <b>Mot de passe</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-key"></i>
          </div>
          <input type="password" name="password" ngModel class="form-control" value='' required=true>
        </div>
      </div>


      <div class="col-lg-6">
        <label> <b>Confirmer mot de passe</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-key"></i>
          </div>
          <input type="password" name="password" ngModel class="form-control" value='' required=true>
        </div>
      </div>

    </div>

    <br>

    <div class="row" *ngIf="show">

      <div class="col-lg-4">
        <label> <b>Raison sociale</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-info"></i>
          </div>
          <input type="text" name="RS" ngModel class="form-control" value='' required=true>
        </div>
      </div>
      <div class="col-lg-4">
        <label> <b>Adresse</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-address-card-o"></i>
          </div>
          <input type="text" name="adresseP" ngModel class="form-control" value='' required=true>
        </div>
      </div>
  
      <div class="col-lg-4">
        <label> <b>Code Postal</b> </label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-thumb-tack"></i>
          </div>
          <input type="integer" name="codeP" ngModel class="form-control" value='' required=true>
        </div>
      </div>


</div>

  </div>

  <div class="panel-footer">

    <div class="text-right">
      <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-check-square"></i> Inscription </button>
    </div>

  </div>
</form>
</div>