 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="wrapper fadeInDown">
    <div id="formContent">


 
 
<div class="container row">

  <div class="form-group">

    <form #f="ngForm" (ngSubmit)="onUpload(f)" novalidate>
        <mat-radio-group aria-label="Select an option" name="test"   [(ngModel)]="test">
            <mat-radio-button value="1" [checked]="true" >particulier</mat-radio-button>
            <mat-radio-button value="2">entreprise</mat-radio-button>
          </mat-radio-group>
          <br>
          <label for="nom" *ngIf="test=='2'">information sur le responsable</label><br>

      <label for="nom">name</label>
      <input type="text" class="form-control" name="name"   ngModel  >
      <label for="nom">prenom</label>
      <input type="text" class="form-control" name="prenom"   ngModel   >
      <label for="nom">date de naissance</label>
      <input type="text" class="form-control" name="ddn"   ngModel   >
      <label for="nom">numtel</label>
      <input type="text" class="form-control" name="numtel"   ngModel   >
      <label for="nom">email</label>
      <input type="text" class="form-control" name="email"   ngModel   >
      <label for="nom">password</label>
      <input type="password" class="form-control" name="password"   ngModel   >
      <label for="nom">comfirmer password</label>
      <input type="password" class="form-control" name="password"   ngModel   >
      <div *ngIf="test=='2'">
      <label for="nom">information sur l'entreprise</label>

      <label for="nom">raison sociale</label>
      <input type="text" class="form-control" name="RS"   ngModel   >
      <label for="nom">adresseP</label>
      <input type="text" class="form-control" name="adresseP"   ngModel   >
      <label for="nom">governorat</label>
      <input type="text" class="form-control" name="governorat"   ngModel   >
      <label for="nom">delegation</label>
      <input type="text" class="form-control" name="delegation"   ngModel   >
      <label for="nom">codeP</label>
      <input type="text" class="form-control" name="codeP"   ngModel   >
    </div>
    <button>Submit</button>

      </form>
      </div>
      </div>
      </div>
      </div>
 