<div class="blog-container" fxLayout="column" fxLayout.gt-sm="row">
       
        <div class="blog" fxFlex>
                <div class="info" >
                        <div class="img-box">
                            <img src="assets/images/blog/tsawer-02.png" alt="">
                            </div>
                   
                </div>
            </div>
            <div class="blog" fxFlex>
                    <div class="info" >
                        <div class="img-box">
                                <img src="assets/images/blog/tsawer-01.png" alt="">
                        </div>
                       
                    </div>
                </div>
                <div class="blog" fxFlex>
                    <div class="info" >
                        <div class="img-box">
                                <img src="assets/images/blog/tsawer-03.png" alt="">
                        </div>
                       
                    </div>
                </div>
    </div>

