<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/products/all']">Show All</a></li>
        <li><a [routerLink]="['/products/apiculture']">apiculture</a></li>
        <li><a [routerLink]="['/products/hortiliculture']">hortiliculture</a></li>
        <li><a [routerLink]="['/products/aquaculture et peche']">aquaculture et peche</a></li>
        <li><a [routerLink]="['/products/elevage']">elevage</a></li>
        <li><a [routerLink]="['/products/produit laitiers']">produit laitiers</a></li>
        <li><a [routerLink]="['/products/epicerie']">epicerie</a></li>
        <li><a [routerLink]="['/products/boissons']">boissons</a></li>
        <li><a [routerLink]="['/products/innovation']">innovation</a></li>

    </ul>
</div>