<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">{{user.name}} {{user.prenom}}</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>About</h6>
                            <p>
                                {{user.email}}
                            </p>
                            <h6>contact</h6>
                            <p>
                               +216 {{user.numtel}}                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6>Recent badges</h6>
                           
                            <hr>
                            <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                            <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Forks</span>
                            <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                        </div>
                        <div class="col-md-12" *ngIf="cartList">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                            <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">pourcentage</th>
                                    <th scope="col">i:investe/p:publier</th>
                                    <th scope="col">Etat</th>

                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody  *ngFor="let cart of cartList;let i = index">
                                    

                                  <tr *ngIf="cart.photoProjet">
                                    <th scope="row">{{i}}</th>
                                    <td><img  class="image-holder" [src]=getSantizeUrl(cart.photoProjet) style="width: 50px;
                                        height: 50px;"/><span>{{cart.nomProjet}}</span>
                                         </td>
                                    <td><progress-bar [progress]="cart.pourcentage " [color-degraded]="{'0': '#000000',  '40': '#4FC3F7', '70': '#8BC34A'}">>
                                    </progress-bar></td>
                                    <td>{{cart.ip}}</td>
                                    <td>{{cart.etat}}</td>

                                    <td>                 <button mat-raised-button color="primary" class="btn-project" (click)="buyNow(cart.idProjet)">VIEW DETAIL</button>
                                    </td>
                                  </tr>
                                  <tr>
                                     
                                </tbody>
                              </table>
                               
                        </div>
                    </div>
                    <!--/row-->
                </div>
               
                
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="{{user.photo}}" class="mx-auto img-fluid img-circle d-block" alt="avatar"style="width: 250px;
            height: 250px;">
            <h6 class="mt-2">Upload a different photo</h6>
            
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input" (change)="updatephoto($event)">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>