 
        <mat-card  class="pr-100" style="margin-left: 25%; margin-right: 25%; margin-top: 4%; margin-bottom: 4%;" >
                   <div class="title">
                    <h3>Login</h3>
                  </div>
                  <form fxLayout="row wrap" #f="ngForm" (ngSubmit)="login(f)">
                      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Username or email address (required)" #name="ngModel" name="username" [(ngModel)]="username" required>
                              <mat-error *ngIf="name.invalid">Please enter a valid message</mat-error>
                            </mat-form-field>
                      </div>
                      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Password (required)" #email="ngModel" name="password" [(ngModel)]="password" required>
                              <mat-error *ngIf="email.invalid">Please enter a valid message</mat-error>
                            </mat-form-field>
                      </div>
                      <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <button class="btn-project" mat-raised-button color="accent"   type="submit">Log in</button>
                        </div>
                      </form>
                
       </mat-card>
 